Source: cec2uinput
Section: misc
Priority: optional
Maintainer: Quintus Leung <quintusl@gmail.com>
Build-Depends: debhelper (>= 13), pkg-config, cargo, rustc, systemd, libcec-dev (>= 6.0.2) | libcec-dev:any, libudev-dev | libudev-dev:any
Standards-Version: 4.5.0
Homepage: https://github.com/quintusl/cec2uinput

Package: cec2uinput
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, udev, libcec6, libudev1
Recommends: systemd
Suggests: cec-utils
Description: CEC to uinput
 A simple program to translate CEC commands to uinput events.
