Source: cec2uinput
Section: misc
Priority: optional
Maintainer: Quintus Leung <quintusl@gmail.com>
Build-Depends: debhelper (>= 13), cargo, rustc, libcec-dev, libudev-dev
Standards-Version: 4.5.0
Homepage: https://github.com/quintusl/cec2uinput

Package: cec2uinput
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CEC to uinput
 A simple program to translate CEC commands to uinput events.
