[Unit]
Description=CEC to xdo

[Service]
ExecStart=/usr/bin/cec2uinput --config /etc/cec2uinput/config.yml
User=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
